.register{
  background-color: black;
}
.card{
  border-radius: 25pt;
  width: 40%;
}

.card-title{
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
  border-radius: 50pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
}

.text1{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  font-weight: bold;
}

.text2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;

}

.text3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7pt;
}

img{
  width: 100%;
}

.form-label{
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}

.form-control{
  background-color: rgb(243, 243, 241);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  border-radius: 50pt;
}


