:root{
  background-color: black;
}

.container, .row, .card, body {
  background-color: black;

}

p, h6{
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-style: bold;
}

.btn{
  color: black;
  border-radius: 50pt;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}
