.navbar, .nav, ul, body{
  background-color: black;
}

.icon{
  width: 65%;
}

.logo{
  width: 50%;
}

.nav-link{
  font-size: 11pt;
  font-family: 'Roboto', sans-serif;

}

.nav-link:hover{
  color: white;
}
