<nav class="navbar row p-2">
  <div class="col-4">
    <img class="icon ps-5" src="./assets/images/icon.png" alt="icon starwars">
  </div>
  <div class="col-4 d-flex justify-content-center">
    <img class="logo" src="./assets/images/starwars.png" alt="logo star wars">
  </div>
  <div class="col-4 d-flex justify-content-end">
    <ul class="nav p-0 m-0 me-5" >

    @if(userToken() === ''){
      <li class="nav-item">
        <button class="nav-link btn btn-outline-dark text-white" (click)='openLogIn()'>LOG IN</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-outline-dark text-white" (click)="openRegister()">SIGN UP</button>
      </li>
    }@else{
      <li class="nav-item">
        <p class="nav-link text-warning">May the Force be with you!</p>
      </li>
      <li class="nav-item">
        <button class="nav-link btn btn-outline-dark text-white" (click)="logout()"
        [routerLink]="['/home']" routerLinkActive="router-link-active">LOG OUT</button>
      </li>
    }
    </ul>
  </div>
</nav>

<nav class="navbar justify-content-center border-bottom border-secondary p-0">
  <ul class="nav">
    <li class="nav-item">
     <button class="nav-link text-secondary"
     [routerLink]="['/home']" routerLinkActive="router-link-active border-bottom border-warning text-white">HOME</button>
    </li>
    <li class="nav-item">
      <button class="nav-link text-secondary"
      [routerLink]="['/starships']" routerLinkActive="router-link-active border-bottom border-warning text-white">STARSHIPS</button>
    </li>
  </ul>

</nav>


