:root{
  background-color: black;
}

.container, body {
  background-color: black;
}

h6{
  color: rgb(192, 194, 185);
}

.card-text{
  font-family: 'Courier New', Courier, monospace;
  font-size: 11pt;
  color: rgb(192, 194, 185);
}

.card-title{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(192, 194, 185);

}
