span{
  font-size: 10pt;
  color: white;
}

.bg-background-home{
  background-image: url("/assets/images/grogu2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;


}

.title{
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-style: bold;

}

.text{
  color: white;
  font-size: 16pt;
  font-family: 'Roboto', sans-serif;
  font-style: bolder;

}

.btn-oval{
  color: black;
  border-radius: 50pt;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
}
