<div class="row">

  <div class="row">
    <span class="col text-center p-2 pt-3 pb-3">ALL OF YOUR STAR WARS FAVOURITES NOW STREAMING ON DISNEY+</span>
  </div>

  <div class="row bg-background-home p-5">
    <div class="col pt-5">
      <h1 class="title">DISCOVER ALL THE STARSHIPS</h1>
      <p class="text pt-2 pb-2">Register and get ready to jump to hyperspace</p>
      <button type="button" class="btn btn-oval btn-warning ps-4 pe-4 pt-2 pb-2 mt-3"
         [routerLink]="['/starships']" routerLinkActive="router-link-active">BROWSE STARSHIPS!
      </button>

    </div>
  </div>

</div>
